@media only screen and (max-width: 1024px) and (min-width: 768px){
    .about_text{
        margin-top: 20px;
    }
    .about_text h2 {
        font-size: 35px;
    }

    .about_img {
        min-width: 100%;
        max-width: 100%;
    }
    .main_banner_text{
        width: 100%;
    }
    .career_text{
        margin-top: 20px;
    }
    .career_details{
        margin: 0px 0px 20px; 
    }
}

@media only screen and (max-width:767px) and (min-width: 320px){
    .about_text{
        margin-top: 20px;
    }
    .career_text{
        margin-top: 20px;
    }
    .about_text h2 {
        font-size: 30px;
    }
    .about_img_text{
        padding: 0px;
    }
    .main_banner_text{
        width: 100%;
        padding: 10px;
    }
    .main_banner p{
        font-size: 18px;
    }
    header{
        padding: 0px;
    }
    .main_heading{
        padding: 20px;
        margin-bottom:25px;
    }
    .main_heading h1{
        padding: 0px;
    }
    .useful-links h4 {
        font-size:22px
    }
    .social-media h4{
        font-size: 22px;
    }
    .career_details{
        padding: 20px 0px !important;
    }
    .career_details .container-fluid{
        padding: 0px 10px !important;
    }
    .career_details p{
        font-size:13px
    }
    .career_details{
        margin: 0px 0px 20px; 
    }
}